h2 Select template
.ms-TextField
  uif-textfield(uif-label='This is the label', ng-model='vm.lofttext', uif-description='Add name of tracking')
button.ms-Button--primary.ms-Button(type='submit', ng-click='vm.insertLoft()')
  span.ms-Button-label Insert loft

