doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    base(href='/')
    title ttt
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    script(type='text/javascript', src='https://appsforoffice.microsoft.com/lib/1/hosted/office.debug.js')
  body.ms-font-m.ms-welcome
    toast
    //if lt IE 9
      p.browserupgrade
        | You are using an
        strong outdated
        |  browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    //navbar
    div.main.ms-welcome__main.ng-cloak(ui-view='')
    //footer
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.date.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jade/1.11.0/jade.js')
    script(type='text/javascript', src='/vendor.bundle.js')
    script(type='text/javascript', src='/polyfills.bundle.js')
    script(type='text/javascript', src='/app.bundle.js')
    input(ng-init=`sessionID='${sessionID}'`, value=sessionID ng-model='sessionID' type='hidden', name='sessionID', )
    //script(type='text/javascript', src='https://appsforoffice.microsoft.com/lib/1/hosted/office.js')


