h2 create reminder
.ms-TextField
  uif-datepicker(ng-model='vm.reminderDate', placeholder='Please, find a date')
button.ms-Button--primary.ms-Button(type='submit', ng-click='vm.sendReminder()')
  span.ms-Button-label Create reminder
