//.userInfo(ng-hide='userNotExist')
//  p.ms-font-l Current User
//  ul.ms-List.ms-welcome__features.ms-u-slideUpIn10
//    li.ms-ListItem
//      | name: {{user.name}}
//    li.ms-ListItem
//      | email: {{user.email}}
//    li.ms-ListItem
//      | createdBy: {{user.createdBy.name}}
//    li.ms-ListItem
//      | createdAt: {{user.created}}
//  button.ms-Button--primary.ms-Button(type='submit')
//    span.ms-Button-label Send answer
//form.ms-form(name='saveTemplateData', action='#', ng-submit='home.createUser()', ng-hide='!userNotExist')
//  h2 create new user
//  .ms-TextField
//    label.ms-Label(for='name') User name:
//    input#name.ms-TextField-field(type='text', name='name', ng-model='form.name')
//  .ms-TextField
//    label.ms-Label(for='mail') Email :
//    input#mail.ms-TextField-field(type='text', name='name', ng-model='form.email')
//  button.ms-Button--primary.ms-Button(type='submit')
//    span.ms-Button-label Create user
