uif-persona-card(uif-style='round', uif-size='small', uif-presence='dnd', uif-image-url='Persona.Person2.png')
  uif-persona-card-primary-text {{vm.user.name}}
  uif-persona-card-secondary-text createdBy: {{vm.user.createdBy.name}}
  uif-persona-card-tertiary-text createdAt: {{vm.user.created}}
  uif-persona-card-action(uif-icon='mailPublic', uif-placeholder='regular')
    uif-persona-card-detail-line
      uif-persona-card-detail-label Lofts:
        ul.ms-List
          div(ng-repeat='loft in vm.lofts track by loft._id')
            | '{{loft.text}}' opened {{loft.count}} times
  uif-persona-card-action(uif-icon='phone', uif-placeholder='regular')
    uif-persona-card-detail-line
      uif-persona-card-detail-label Personal:
      |  555.206.2443
    uif-persona-card-detail-line
      uif-persona-card-detail-label Work:
      |  555.929.8240
  uif-persona-card-action(uif-icon='mail', uif-placeholder='regular')
    uif-persona-card-detail-line
      uif-persona-card-detail-label Work:
      uif-link(ng-href='mailto:{{vm.user.email}}') {{vm.user.email}}



//button.ms-Button--primary.ms-Button(type='submit')
//  span.ms-Button-label Send answer
//form.ms-form(name='saveTemplateData', action='#', ng-submit='home.createUser()', ng-hide='!userNotExist')
//  h2 create new user
//  .ms-TextField
//    label.ms-Label(for='name') User name:
//    input#name.ms-TextField-field(type='text', name='name', ng-model='form.name')
//  .ms-TextField
//    label.ms-Label(for='mail') Email :
//    input#mail.ms-TextField-field(type='text', name='name', ng-model='form.email')
//  button.ms-Button--primary.ms-Button(type='submit')
//    span.ms-Button-label Create user
